// seletor{ propriedade: valor:}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

header {
    background-color: red;
    color: white;

}

section{
    background: gray;
}

.card{
    background: purple;
    border: solid;
    height: 150px;
    width: 150px;

    img{
        width: 125px;
        height: 90px;
    }

.subtitulo{
    color: rgb(162, 100, 237);
}

#btn1{
    background: blue;
}

#btn2{
    background-color: darkblue;
}

}


